th,
td {
  padding: 2px;
}
th {
  margin-bottom: 0.5rem;
}
table {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  width: 100%;
  border-spacing: 10px;
}
tr:not(:first-of-type):hover {
  background-color: #d6eeee;
}
